<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/fragments/cssFragment :: cssFragments"></div>
    <title>Log in - Premier Accounting</title>
</head>


<body>
<div class="wrapper">

    <div th:replace="/fragments/leftSidebar :: left-sidebar"></div>

    <div class="main-panel">

        <div th:replace="/fragments/header :: header"></div>

        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <!-- Content start here -->
                    <div class="col-md-12">
                        <div class="card">
                            <form id="registerFormValidation" action="" method="" novalidate="">
                                <div class="card-content">
                                    <a class="btn btn-primary" type="button" th:href="@{/company/registration}"><i
                                            class="ti-list"> </i> Company List
                                    </a>
                                    <br>
                                    <h4 class="card-title">Add new Company</h4>
                                    <fieldset>
                                        <div class="col-lg-8">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>
                                                            Title
                                                        </label>
                                                        <input class="form-control"
                                                               type="text"
                                                               name="required"
                                                               required="required"
                                                        />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>
                                                            State
                                                        </label>
                                                        <select name="states" class="form-control" required="required">
                                                            <option selected="" disabled="">Select State</option>
                                                            <option value="ms">Bahasa Melayu</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="col-lg-8">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                    <label>
                                                        Zip
                                                    </label>
                                                        <input class="form-control"
                                                               type="text"
                                                               name="required1"
                                                               required="required"
                                                        />
                                                </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                    <label>
                                                        Status
                                                    </label>
                                                    <br/>
                                                    <select name="status" class="form-control" required>
                                                        <option selected="" disabled="">Select Status</option>
                                                        <option value="ms">Bahasa Melayu</option>
                                                        <option value="ca">Català</option>
                                                        <option value="da">Dansk</option>
                                                        <option value="de">Deutsch</option>
                                                        <option value="en">English</option>
                                                        <option value="es">Español</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <br>
                                        </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="col-lg-8">
                                            <fieldset>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>
                                                            Address
                                                        </label>
                                                        <input class="form-control"
                                                               type="text"
                                                               name="required3"
                                                               required="required"
                                                        />
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label>
                                                            Representative
                                                        </label>
                                                        <input type="text" placeholder=".col-md-4"
                                                               class="form-control" required="required">
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <br>
                                        </div>
                                    </fieldset>

                                    <fieldset>
                                        <div class="col-lg-8">
                                            <fieldset>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>
                                                            Email
                                                        </label>
                                                        <input class="form-control"
                                                               type="text"
                                                               name="required5"
                                                               required="required"
                                                               email="true"
                                                        />
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label>
                                                            Phone
                                                        </label>
                                                        <input class="form-control"
                                                                   type="text"
                                                                   name="required6"
                                                                   required="required"
                                                    />
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <br>
                                        </div>
                                    </fieldset>

                                    <fieldset>
                                        <div class="col-lg-8">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>
                                                        Establishment Date
                                                    </label>
                                                    <input class="form-control"
                                                               type="date"
                                                               name="required7"
                                                               required="required"
                                                />
                                                </div>
                                            </div>
                                            <br>
                                        </div>
                                    </fieldset>


                                <div class="card-footer text-right">
                                    <button type="submit" class="btn btn-success btn-fill">Save Changes</button>
                                    <a type="button" th:href="@{/company/registration}" class="btn btn-wd">Cancel</a>
                                </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Content end here -->

                </div>
            </div>
        </div>
        <footer class="footer">
            <div th:replace="/fragments/footer :: footer"></div>
        </footer>
    </div>
</div>
</body>
<div th:replace="/fragments/jsFragment :: jsFragments"></div>


</html>
