<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/fragments/cssFragment :: cssFragments"></div>
    <title>Log in - Premier Accounting</title>
</head>


<body>
<div class="wrapper">

    <div th:replace="/fragments/leftSidebar :: left-sidebar"></div>

    <div class="main-panel">

        <div th:replace="/fragments/header :: header"></div>

        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <!-- Content start here -->
                    <div class="col-md-12">
                        <div class="card">

                            <form id="allInputsFormValidation" class="form-horizontal" action="#" method="#" novalidate="">
                                <div class="card-content">
                                    <h4 class="card-title">Type Validation</h4>
                                    <fieldset>
                                        <div class="form-group column-sizing">
                                            <label class="col-sm-2 control-label">
                                                Equal to
                                            </label>
                                            <div class="col-sm-3">
                                                <input class="form-control"
                                                       id="idSource1"
                                                       type="text"
                                                       placeholder="#idSource1"
                                                />
                                            </div>
                                            <div class="col-sm-3">
                                                <input class="form-control"
                                                       id="idDestination1"
                                                       type="text"
                                                       placeholder="#idDestination1"
                                                       equalTo="#idSource"
                                                />
                                            </div>
                                            <div class="col-sm-4"><code>equalTo="#idSource"</code>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">
                                                Required Text
                                            </label>
                                            <div class="col-sm-6">
                                                <input class="form-control"
                                                       type="text"
                                                       name="required"
                                                       required="required"
                                                />
                                            </div>
                                            <div class="col-sm-4"><code>required</code></div>
                                        </div>
                                    </fieldset>

                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">
                                                Email
                                            </label>
                                            <div class="col-sm-6">
                                                <input class="form-control"
                                                       type="text"
                                                       name="email"
                                                       email="true"
                                                />
                                            </div>
                                            <div class="col-sm-4"><code>email="true"</code></div>
                                        </div>
                                    </fieldset>

                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">
                                                Number
                                            </label>
                                            <div class="col-sm-6">
                                                <input class="form-control"
                                                       type="text"
                                                       name="number"
                                                       number="true"
                                                />
                                            </div>
                                            <div class="col-sm-4"><code>number="true"</code></div>
                                        </div>
                                    </fieldset>

                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">
                                                Url
                                            </label>
                                            <div class="col-sm-6">
                                                <input class="form-control"
                                                       type="text"
                                                       name="url"
                                                       url="true"
                                                />
                                            </div>
                                            <div class="col-sm-4"><code>url="true"</code></div>
                                        </div>
                                    </fieldset>

                                    <fieldset>
                                        <div class="form-group column-sizing">
                                            <label class="col-sm-2 control-label">
                                                Equal to
                                            </label>
                                            <div class="col-sm-3">
                                                <input class="form-control"
                                                       id="idSource"
                                                       type="text"
                                                       placeholder="#idSource"
                                                />
                                            </div>
                                            <div class="col-sm-3">
                                                <input class="form-control"
                                                       id="idDestination"
                                                       type="text"
                                                       placeholder="#idDestination"
                                                       equalTo="#idSource"
                                                />
                                            </div>
                                            <div class="col-sm-4"><code>equalTo="#idSource"</code>
                                            </div>
                                        </div>
                                    </fieldset>

                                    <h4 class="card-title">Range validation</h4>

                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">
                                                Min Length
                                            </label>
                                            <div class="col-sm-6">
                                                <input class="form-control"
                                                       type="text"
                                                       name="min_length"
                                                       minLength="5"
                                                />
                                            </div>
                                            <div class="col-sm-4"><code>minLength="5"</code></div>
                                        </div>
                                    </fieldset>

                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">
                                                Max Length
                                            </label>
                                            <div class="col-sm-6">
                                                <input class="form-control"
                                                       type="text"
                                                       name="max_length"
                                                       maxLength="5"
                                                />
                                            </div>
                                            <div class="col-sm-4"><code>maxLength="5"</code></div>
                                        </div>
                                    </fieldset>

                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Range</label>
                                            <div class="col-sm-6">
                                                <input class="form-control"
                                                       type="text"
                                                       name="range"
                                                       range="[6,10]"
                                                />
                                            </div>
                                            <div class="col-sm-4"><code>range="[6,10]"</code></div>
                                        </div>
                                    </fieldset>

                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">
                                                Min Value
                                            </label>
                                            <div class="col-sm-6">
                                                <input class="form-control"
                                                       type="text"
                                                       name="min"
                                                       min="6"
                                                />
                                            </div>
                                            <div class="col-sm-4"><code>min="6"</code></div>
                                        </div>
                                    </fieldset>

                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">
                                                Max Value
                                            </label>
                                            <div class="col-sm-6">
                                                <input class="form-control"
                                                       type="text"
                                                       name="max"
                                                       max="6"
                                                />
                                            </div>
                                            <div class="col-sm-4"><code>max="6"</code></div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="card-footer text-center">
                                    <button type="submit" class="btn btn-info btn-fill">Validate Inputs</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Content end here -->

                </div>
            </div>
        </div>
        <footer class="footer">
            <div th:replace="/fragments/footer :: footer"></div>
        </footer>
    </div>
</div>
</body>
<div th:replace="/fragments/jsFragment :: jsFragments"></div>

</html>
