<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/fragments/cssFragment :: cssFragments"></div>
    <title>Company Registration</title>
</head>


<body>
<div class="wrapper">

    <div th:replace="/fragments/leftSidebar :: left-sidebar"></div>

    <div class="main-panel">

        <div th:replace="/fragments/header :: header"></div>

        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <!-- Content start here -->
                    <div class="content" th:object="${companies}">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="toolbar">
                                                <!--Here you can write extra buttons/actions for the toolbar-->
                                            </div>
                                            <div class="d-grid gap-2 col-6 mx-auto">
                                                <a th:href="@{/company/addCompany}">
                                                <button class="btn btn-primary" type="button" th:href="login">+ Add Company</button>
                                                </a>
                                            </div>

                                            <table id="bootstrap-table" class="table">
                                                <thead>
                                                <th data-field="id" class="text-center">ID</th>
                                                <th data-field="name" data-sortable="true">Title</th>
                                                <th data-field="salary" data-sortable="true">Representative</th>
                                                <th data-field="country" data-sortable="true">Email</th>
                                                <th data-field="city">Zip</th>
                                                <th data-field="state">State</th>
                                                <th data-field="status">Status</th>
                                                <th data-field="edit">Edit</th>
                                                </thead>
                                                <tbody>
                                                <tr th:each="company : ${companies}">
                                                    <td th:text="${company.id}"></td>
                                                    <td th:text="${company.title}"></td>
                                                    <td></td>
                                                    <td th:text="${company.email}"></td>
                                                    <td th:text="${company.zip}"></td>
                                                    <td th:text="${company.state}"></td>
                                                    <td><button class="btn btn-xs btn-success">Active</button></td>
                                                    <td> <i class="btn btn-simple btn-warning btn-icon table-action edit ti-pencil-alt"></i> </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div><!--  end card  -->
                                </div> <!-- end col-md-12 -->
                            </div> <!-- end row -->
                        </div>
                    </div>

                    <!-- Content end here -->

                </div>
            </div>
        </div>
        <footer class="footer">
            <div th:replace="/fragments/footer :: footer"></div>
        </footer>
    </div>
</div>
</body>
<div th:replace="/fragments/jsFragment :: jsFragments"></div>
</html>
