<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/fragments/cssFragment :: cssFragments"></div>
    <title>Add User</title>
</head>


<body>
<div class="wrapper">

    <div th:replace="/fragments/leftSidebar :: left-sidebar"></div>

    <div class="main-panel">

        <div th:replace="/fragments/header :: header"></div>

        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <!-- Content start here -->
                    <div class="col-md-12">
                        <div class="card">
                            <form id="registerFormValidation" th:action="@{/user/addUser}" method="post" novalidate="" th:object="${user}">
                                <div class="card-content">
                                    <a class="btn btn-primary" type="button" th:href="@{/user/registration}"><i
                                            class="ti-list"> </i> Users List
                                    </a>
                                    <br>
                                    <h4 class="card-title">Add new User</h4>
                                    <fieldset>
                                        <div class="col-lg-8">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>
                                                            Firs Name
                                                        </label>
                                                        <input class="form-control"
                                                               type="text"
                                                               name="required"
                                                               required="required"
                                                               th:field="*{firstName}"
                                                        />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>
                                                            Last Name
                                                        </label>
                                                        <input class="form-control"
                                                               type="text"
                                                               name="required6"
                                                               required="required"
                                                               th:field="*{lastName}"
                                                        />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="col-lg-8">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>
                                                            Password
                                                        </label>
                                                        <input class="form-control"
                                                               type="password"
                                                               name="required1"
                                                               required="required"
                                                               th:field="*{password}"
                                                        />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>
                                                        Phone
                                                    </label>
                                                    <input class="form-control"
                                                           type="text"
                                                           name="required9"
                                                           required="required"
                                                           th:field="*{phone}"
                                                    />
                                                </div>
                                                <br>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="col-lg-8">
                                            <fieldset>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>
                                                            Email
                                                        </label>
                                                        <input class="form-control"
                                                               type="text"
                                                               name="required3"
                                                               required="required"
                                                               email = "true"
                                                               th:field="*{email}"
                                                        />
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>
                                                                Role
                                                            </label>
                                                                <select th:field="*{role.id}" class="form-control" required="required">
                                                                    <option th:value=" ''" th:text="Select"></option>
                                                                    <option th:each="role : ${roles}"
                                                                            th:value="${role.id}"
                                                                            th:text="${role.description}">
                                                                    </option>
                                                                </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="col-lg-8">
                                            <div class="row">
<!--                                                <div class="col-md-6">-->
<!--                                                    <label>-->
<!--                                                        Company-->
<!--                                                    </label>-->
<!--                                                    <input class="form-control"-->
<!--                                                           th:object="${companyInfo}"-->
<!--                                                           th:field="*{company}"-->
<!--                                                           type="text"-->
<!--                                                           name="required3"-->
<!--                                                           required="required"-->
<!--                                                           th:value="${companyInfo.title}"-->
<!--                                                           disabled-->
<!--                                                    />-->
<!--                                                </div>-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>
                                                            Company
                                                        </label>
                                                        <select th:field="*{company}" class="form-control" required="required">
                                                            <option
                                                                    th:value="${companyDto.id}"
                                                                    th:text="${companyDto.title}">
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>
                                                            Status
                                                        </label>
                                                        <select name="status" class="form-control" required>
                                                            <option selected="" disabled="">Select Status</option>
                                                            <option th:field="*{status}" th:value="ACTIVE">Active
                                                            </option>
                                                            <option th:field="*{status}" th:value="CLOSED">Closed
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <br>
                                        </div>
                                    </fieldset>



                                    <div class="card-footer text-right">
                                        <button type="submit" class="btn btn-success btn-fill">Save Changes</button>
                                        <a type="button" th:href="@{/user/registration}" class="btn btn-wd">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Content end here -->

                </div>
            </div>
        </div>
        <footer class="footer">
            <div th:replace="/fragments/footer :: footer"></div>
        </footer>
    </div>
</div>
</body>
<div th:replace="/fragments/jsFragment :: jsFragments"></div>


</html>
