<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/fragments/cssFragment :: cssFragments"></div>
    <title>Company Registration</title>
</head>


<body>
<div class="wrapper">

    <div th:replace="/fragments/leftSidebar :: left-sidebar"></div>

    <div class="main-panel">

        <div th:replace="/fragments/header :: header"></div>

        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <!-- Content start here -->
                    <div class="content" th:object="${purchaseInvoices}">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="toolbar">
                                                <!--Here you can write extra buttons/actions for the toolbar-->
                                            </div>
                                            <div class="d-grid gap-2 col-6 mx-auto">
                                                <a th:href="@{/invoice/addInvoice}">
                                                    <button class="btn btn-primary" type="button" th:href="login">+ Create Purchase Invoice</button>
                                                </a>
                                            </div>

                                            <table id="bootstrap-table" class="table">
                                                <thead>
                                                <th data-field="invoiceNo" class="text-center">Invoice No</th>
                                                <th data-field="invoiceDate" data-sortable="true">Invoice Date</th>
                                                <th data-field="vendor" data-sortable="true">Vendor</th>
                                                <th data-field="cost" data-sortable="true">Cost</th>
                                                <th data-field="tax">Tax</th>
                                                <th data-field="total">Total</th>
                                                <th data-field="addLineItem">Add Line Item</th>
                                                <th></th>
                                                </thead>
                                                <tbody>
                                                <tr th:each="purchaseInvoice : ${purchaseInvoices}">
                                                    <td th:text="${purchaseInvoice.invoiceNumber}"></td>
                                                    <td th:text="${purchaseInvoice.invoiceDate}"></td>
                                                    <td th:text="${purchaseInvoice.vendorClient.companyName}"></td>
                                                    <td th:text="${purchaseInvoice.cost}"></td>
                                                    <td th:text="${purchaseInvoice.tax}"></td>
                                                    <td th:text="${purchaseInvoice.total}"></td>
                                                    <td><a th:href="@{/invoice/update/{id}(id=${purchaseInvoice.id})}" class="btn btn-simple btn-warning btn-icon table-action edit ti-pencil-alt"></a></td>
                                                    <td></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div><!--  end card  -->
                                </div> <!-- end col-md-12 -->
                            </div> <!-- end row -->
                        </div>
                    </div>

                    <!-- Content end here -->

                </div>
            </div>
        </div>
        <footer class="footer">
            <div th:replace="/fragments/footer :: footer"></div>
        </footer>
    </div>
</div>
</body>
<div th:replace="/fragments/jsFragment :: jsFragments"></div>
</html>
