<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/fragments/cssFragment :: cssFragments"></div>
    <title>Log in - Premier Accounting</title>
</head>


<body>
<div class="wrapper">

    <div th:replace="/fragments/leftSidebar :: left-sidebar"></div>

    <div class="main-panel">

        <div th:replace="/fragments/header :: header"></div>

        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <!-- Content start here -->

                    <!-- Content end here -->

                </div>
            </div>
        </div>
        <footer class="footer">
                <div th:replace="/fragments/footer :: footer"></div>
        </footer>
    </div>
</div>
</body>
<div th:replace="/fragments/jsFragment :: jsFragments"></div>
</html>
